<!DOCTYPE html>
<html lang="en" style="">
<head>
    <meta charset="UTF-8">
    <title>Tell Me I'm Pretty</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Khula:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <section id="contentSection"><p id="content"></p></section>
    <section id="buttonSection">
        <div>
            <input id="button" type="submit" value="Tell Me I'm Pretty"
            style="background-color: {{ color.button_bg }}; 
            border-top-color: {{ color.button_border }};
            border-right-color: {{ color.button_border }};
            border-left-color: {{ color.button_border }};">
        </div>
    </section>
</body>
<script src=/static/phrase.js></script>
</html>
